<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thêm Sản Phẩm</title>
</head>
<body>
    <h1>Thêm sp</h1>
    <form action="/products/add" method="POST">
        <label for="name">Tên sản phẩm:</label>
        <input type="text" name="name" required>
        <br>
        <label for="price">Giá sản phẩm:</label>
        <input type="number" name="price" required>
        <br>
        <button type="submit">Thêm Sản Phẩm</button>
    </form>
    <a href="/">Quay lại trang chủ</a>
</body>
</html>
