<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
</head>
<body>
    <header>
        <h1>Chào mừng bạn đến với mtp_web!</h1>
        <nav>
            <a href="/products/add">Thêm sản phẩm</a>
            <a href="/products">Danh sách sản phẩm</a>
            <a href="/logout">Đăng xuất</a>
        </nav>
    </header>
    <main>
        <h2>hello, <%= user.username %>!</h2>
    </main>
</body>
</html>
